@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-light-theme(
  (
    color:(
      primary:mat.define-palette(mat.$cyan-palette,900),
      accent:mat.define-palette(mat.$teal-palette,700),
      warn:mat.define-palette(mat.$orange-palette,700),
    ),
    typography:mat.define-typography-config(),
    density:0,
  )
);
@include mat.all-component-themes($my-theme);
